.Frame21592 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 25vw;
  height: 806px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.toast {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 8px 0px 0px;

  width: 25vw;
  height: 50px;

  background: #ffffff;

  border: 1px solid #cecece;
  border-radius: 4px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 8px 8px 16px;

  width: 22vw;
  height: 50px;

  flex: none;
  order: 0;
  flex-grow: 1;
}

.Heading {
  width: 47px;
  height: 18px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;

  color: #3d4042;

  flex: none;
  order: 0;
  flex-grow: 0;
}


