.body {
  position: relative;
  width: 424px;
  height: 1080px;

  background: #fafafa;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.Panel {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 24px;

  width: 424px;
  height: 64px;

  /* Grey/050
  
  Disabled background only
  */
  background: #f6f6f6;
  /* Grey/200
  
  Border — Table
  */
  border-bottom: 1px solid #cecece;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 250px;

  width: 376px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.title {
  width: 46px;
  height: 20px;

  /* 15px .font-md/500 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: 24px;
  /* margin-right: 354px; */
  /* margin-top: 22px;
margin-bottom: 22px; */
  /* identical to box height, or 133% */

  /* Grey/900 */

  color: #3d4042;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.header-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  padding: 0px 16px;
  /* margin-left: 330px; */
  /* margin-right: 440px; */
  margin-top: 16px;
  margin-bottom: 16px;

  width: 70px;
  height: 32px;
  /* margin-left: 30px; */

  /* Interactive/Default/Green (dark-green-600)

Positive/Affirmative/Success — Primary UI
*/
  background: #2d8031;
  opacity: 0.4;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

/* .button { */

  /* display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;
  
  width: 70px;
  height: 32px;
   */
   
/* Inside auto layout */
 /* flex: none;
  order: 1;
  flex-grow: 0; 
 } */
.button-text {
  width: 38px;
  height: 32px;

  /* 12px / Button / Inverse */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  /* identical to box height, or 267% */
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  /* Documentation Colors/White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* .header-divider {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
} */
.BodyContent {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;

width: 424px;
height: 1016px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;

}
.tabs {
  /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 257px;
height: 48px;
left: 0px;
top: 64px;

}
.tab1 {
  display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 3px;

width: 51px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.label1 {
  width: 51px;
height: 15px;

/* Clickable (all caps text)/Default */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
letter-spacing: 0.5px;
text-transform: uppercase;

/* Grey/900 */

color: #3D4042;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.tab2 {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 0px 0px 8.5px;
gap: 4px;

width: 48px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}
.label2 {
  width: 48px;
height: 15px;

/* Clickable (all caps text)/Default */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height, or 125% */

display: flex;
align-items: center;
letter-spacing: 0.5px;
text-transform: uppercase;

/* Grey/900 */

color: #3D4042;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.tabs button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.tabs button:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  color: #000;
}

/* .search-divider {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
} */
.settings {
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;

position: absolute;
width: 424px;
height: 904px;
left: 0px;
top: 112px;

/* Grey/200

Border — Table
*/
border-top: 1px solid #CECECE;

}
.Frame21948 {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 376px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
/* .searchparts {
  
box-sizing: border-box;

/* Auto layout */

/* display: flex;
flex-direction: row;
align-items: center;
padding: 1px;

width: 376px;
height: 32px; */ */

/* Documentation Colors/White

Page Background Option
*/
/* background: #FFFFFF; */
/* Grey/400

Border — Control & Field Inputs
*/
/* border: 1px solid #949494; */

/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 1;

} */
.icon {
  width: 30px;
height: 30px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}
/* .icon-left {
  position: absolute;
width: 18px;
height: 18px;
left: calc(50% - 18px/2);
top: calc(50% - 18px/2 - 0.5px); */

/* Icon (nt-dds-icons font)/18px

Download the font locally from the DDS Sharepoint site.
*/
/* font-family: 'nt-dds-icons';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px; */
/* identical to box height, or 100% */

/* display: flex;
align-items: center;
text-align: center; */

/* Grey / 900 */

/* color: #3D4042;


} */
.text {
  /* width: 344px;
height: 30px; */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;

/* Inside auto layout */

/* flex: none;
order: 1;
flex-grow: 1; */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 376px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
/* .placeholder {
  
position: absolute;
width: 83px;
height: 18px;
left: 0px; */
/* top: calc(50% - 18px/2); */

/* 13px .font-default/400 */

/* font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px; */
/* identical to box height, or 138% */

/* display: flex;
align-items: center; */

/* Grey/550 */

/* color: #767676;

} */
/* .Frame21592 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 376px;
  height: 806px;

  /* Inside auto layout */

  /* flex: none;
  order: 1;
  flex-grow: 0;
} */ 
/* .Frame21569 {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 376px;
height: 860px;
overflow-y: scroll; */


/* Inside auto layout */

/* flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

} */
/* .Toast1 {
  
box-sizing: border-box;

/* Auto layout */

/* display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px 8px 0px 0px;

width: 376px;
height: 50px; */ 

/* Documentation Colors/White

Page Background Option
*/
/* background: #FFFFFF; */
/* Grey/200

Border — Table
*/
/* border: 1px solid #CECECE;
border-radius: 4px; */

/* Inside auto layout */

/* flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
 
} */
/* .content {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 8px 8px 16px;

width: 350px;
height: 50px; */


/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 1;

} */
/* .text-vert {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;
gap: 8px;

width: 313px;
height: 26px; */


/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0;

} */
/* .Frame21741 {
  display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 8px;

width: 313px;
height: 18px; */


/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0;

} */
/* .Frame21946 {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 47px;
height: 18px;
 */

/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0;

}
.Heading {
  width: 47px;
height: 18px; */

/* 13px .font-default/500 */

/* font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 18px; */
/* identical to box height, or 138% */


/* Grey/900 */

/* color: #3D4042;

} */
/* .Close {
  display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 16px 0px 8px;

width: 18px;
height: 50px;
 */

/* Inside auto layout */

/* flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

} */